<!doctype html>
<html>
<head>
    <title>Santi's Taco Truck</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <div class="col-sm-6">
          <h3>Orders in Queue</h3>
          <ul class="orders">
          <% for(var i=0; i<orders.length; i++) {%>
            <li <%= orders[i].completed ? "class=completed" : "class=incomplete" %>>
              <span> Name: <%= orders[i].order.name %></span>
              <span> Order Placed At: <%= orders[i].order.time %></span>
              <span><%= orders[i].order.chicken ? orders[i].order.chicken + " chicken tacos":"" %></span>
              <span><%= orders[i].order.steak ? orders[i].order.steak + " steak tacos":""%></span>
              <span><%= orders[i].order.pork ? orders[i].order.pork + " pork tacos":""%></span>
              <span><%= orders[i].order.veggie ? orders[i].order.veggie + " veggie tacos":""%></span>
              <span><%= orders[i].order.shrimp ? orders[i].order.shrimp + " shrimp tacos":"" %></span>
              <span><%= orders[i].order.fish ? orders[i].order.fish + " fish tacos":""%></span>
              <span><%= orders[i].order.onions ? orders[i].order.onions + " Onions":"" %></span>
              <span><%= orders[i].order.cilantro ? orders[i].order.cilantro + " Cilantro":"" %></span>
              <span><%= orders[i].order.beans ? orders[i].order.beans + " Beans":""%></span>
              <span><%= orders[i].order.lime ? orders[i].order.lime + " Lime":""%></span>
              <span><%= orders[i].order.salsaRoja ? orders[i].order.salsaRoja + " Salsa Roja":""%></span>
              <span><%= orders[i].order.salsaVerde ? orders[i].order.salsaVerde + " Salsa Verde":""%></span>

              <button <%= orders[i].completed ? "class=hide" : "class=ordersReady" %>>Orders Ready!</button>

              <span class="hidden"><%= orders[i]._id %></span>
      
              <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

</div>

<script src="main.js"></script>

</body>
</html>
